.Aentrada{
    animation: carga 1s ;
  }
  
.ahumento{
    animation: ahumento 1s ;
}
.scroll1{
    animation: scroll1 1.2s ease-in-out ;
    opacity: 1;
}

.scroll2{
  animation: scroll2 1.2s ease-in-out ;
  opacity: 1;
}
  /* --animacion del menu responsive-- */

@keyframes log{
  
    0%{
      transform: translate(-1000px);
    }
    100%{
      transform: translate(0);
    }
    
  }
  

  /* animaciones generales */
  @keyframes carga {
    0%{
      transform: scale(.0);
    }
    100%{
      transform: scale(1);
    }
    
    
  }
  
  @keyframes ahumento {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes scroll1 {
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
  }
  @keyframes scroll2 {
    0%{
        opacity: 0;
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
  }

  @keyframes introlog {
    0%{
        display: block;
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        display: none;
        
    }
    
  }