@media screen and (max-width: 1125px){
  /* -sección de cuentas- */
  .poster{
    width: 80rem;
    height: 50rem;
  }

 }


@media screen and (max-width: 970px){

    /* --------main------- */
    .headerDelMain > div{
     font-size: 2.8rem;
    }
   }
   
   @media screen and (min-width: 831px){
     .menuresponsive{
       display: none;
     }
   }
   
   @media screen and (max-width: 830px){
   
     /* HEADER */
     .logo{
       margin: 0 auto;
     }
   
     .sectionRight > a{
       display: none;
     }
   
     /* header del main */
     .headerDelMain > div{
       font-size: 1.8rem;
     }
   
   
     /* ---header responsive-- */
   
     .menuham{
       display: inline-block !important;
     }
     .menuresponsive{
      margin-top: 43rem;
      }
    
   
   
     /* ----main seccion de cuentas-- */
     .intro h2{
      font-size: 1.8rem;
    }
    .intro p{
      font-size: 1.4rem;
    }

    .poster{
      width: 52rem;
      height: 32rem;
    }
     .cards div a{
      height: 3.5rem;
     }

     .cards div img{
       width: 23rem;
       height: 21rem;
     }
   
     .enlaceCards{
       width: 30rem;
       font-size: 1.5rem;
     }
     
   
   
   
   
     /* ---seccion de paginas--- */
     .paginasContainer > h2{
       font-size: 2.8rem;
       margin-bottom: 2rem;
     }
   
     .paginasContainer > div{
       flex-direction: column;    
     }
     .paginasContainer > div > p{
       flex-direction: column;
       padding: 2.5rem;
     }
   
     .paginasContainer > div > img{
       width: 30rem;
       height: 27rem;
     }
   
     /* seccion de ropa */
     .ropa h2{
       font-size: 2.5rem;
     }
   
     .ropa div img{
       width: 11rem;
       height: 8rem;
     }
     
   
   }
   
   @media screen and (max-width: 530px){
    /* ---------Css header----- */

    .header{
     height: 50px;
    }
    .sectionRight .logo{
      width: 110px;
      height: 40px;
      margin-top: 1rem;
    }

    /* ---header responsive-- */
   
    .menuham{
      width: 4rem;
      height: 4rem;
      margin-top: -.8rem; 
    }

    .menuresponsive{
      margin-top: 40rem;
      }

     /* ----main seccion de cuentas-- */

     .poster{
      width: 40rem;
      height: 20rem;
      margin: 1rem 0;
    }

     .cards div img{
      width: 20rem;
      height: 18rem;
    }
    .cards div h3{
      font-size: 2rem;
    }



     /* seccion de ropa */
     .ropa h2{
       font-size: 1.5rem;
     }
   
     .ropa div img{
       width: 8rem;
       height: 8rem;
     }
   }
   
   @media screen and (max-width: 480px){
     /* header del main */
     .headerDelMain > div{
       font-size: 1rem;
     }
   
     .headerDelMain > div a{
       width: 15rem;
     }
     
     /* ----main seccion de cuentas-- */
     .poster{
      width: 20rem;
      height: 10rem;
      border-radius: 1rem;
      margin: 1rem 0;
    }
    .cards div{
      margin-top: 0rem;
    }
     .cards div img{
       width: 11rem;
       height: 11rem;
     }
   
     .cards div h3{
       font-size: 1rem;
     }
   
     .cards div a{
       width: 7rem;
       height: 1rem;
       font-size: 1.5rem;
     }
   
     .cards div a p{
      font-size: .8rem;
       margin-right: 2.1rem;
     }
   
   
     .enlaceCards{
       width: 17rem;
       font-size: 1.2rem;
     }
   
     /* ---seccion de paginas--- */
     .paginasContainer > h2{
       font-size: 1.7rem;
     }
   
     .paginasContainer > div > img{
       width: 70%;
     
     }
   
     .paginasContainer > div > p{
       font-size: 1.4rem;
     }
   
     /* seccion de ropa */
     .ropa h2{
       font-size: 1.4rem;
     }
   
     .ropa div img{
       width: 6rem;
       height: 7rem;
     }
   
   }
   