/* ----section de páginas--------------------------------------------*/

.paginasContainer, .paginasContainerLog{
    font-size: 2.5rem;
    width: 100%;
    background: var(--color2);
    font-family: var(--font2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem ;

  }

  .textos{
    width: 100%;
    text-align: center;
    color: var(--color4);
    padding-top: 1rem;
    margin: 2rem 0 1rem 0;
  }
  .textos > h2{
    font-size: 5rem;
  }

  .imgP1, .imgP2, .imgP3{
    width: 60%;
    opacity: 0;
    margin-top: 1rem;
  }

 

  .paginasContainer > a{
    width: 20rem;
    height: 4rem;
    background: #000;
    color: var(--color4);
    outline: 2px black solid;
    border-radius: 20px;
    padding-top: 4px;
    text-align: center;

  }
  
  /* .paginasContainer > div + div{
    margin-top: 2rem;
    background: var(--color1);
  }
  
  .paginasContainer > div > img{
    width: 45rem;
    height: 40rem;
    border-radius: 2rem;
  
  }
  
  .paginasContainer > div > p{
    width: 100%;
    min-height: 100%;
    
  } */